* text=auto

examples/fixtures/inputs/crlf.env text eol=crlf
examples/fixtures/outputs/redacted/crlf.env text eol=crlf
examples/fixtures/outputs/templates/crlf.env text eol=crlf
examples/fixtures/outputs/pseudonymized/crlf.env text eol=crlf
examples/fixtures/outputs/synthesized/crlf.env text eol=crlf